@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-page {
    @apply mx-auto max-w-[1200px];
  }

  .animation-fade {
    @apply transition-all duration-150 ease-in-out;
  }
}

.slick-next:before,
.slick-prev:before {
  color: #000000 !important;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}