@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-page {
    @apply mx-auto max-w-[1200px];
  }

  .animation-fade {
    @apply transition-all duration-150 ease-in-out;
  }

  .button-primary {
    @apply text-center w-full text-black border-secondary transition-all duration-150 border py-1 rounded hover:text-white hover:bg-secondary disabled:opacity-40;
  }
}

.slick-next:before,
.slick-prev:before {
  color: #000000 !important;
}

.slick-prev {
  left: 0;
  z-index: 9999;
}

.slick-next {
  right: 0;
}